"<div style='border: 3px dashed red'>
  <img src='https://fydn.imgix.net/m%2Fgen%2Fart-print-std-portrait-p1%2Fe8afac96-28f4-40ec-8c51-39ed48e39d3b.jpg?ar=1%3A1&auto=format%2Ccompress&crop=top&fit=crop&q=75&w=1280'>
</div>"
